@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --main-col: #1dbf73;
  --main-hover: #0aa35c;
  --sec-col: #f4f4f4;
  --light-txt: rgba(0, 0, 0, 0.61);
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: var(--light-txt);
  cursor: pointer;
}
a:hover {
  color: var(--main-hover);
}
body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  color: var(--light-txt);
}
hr {
  border: 0;
  clear: both;
  display: block;
  width: 98%;
  background-color: rgba(46, 46, 46, 0.285);
  height: 1px;
}
#scrol-top {
  color: var(--main-col);
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  z-index: 1;
  font-size: 40px;
  display: none;
}
.dropdown-wrapper {
  width: fit-content;
  max-width: 300px;
  position: absolute;
  top: 2px;
  z-index: 9999;
  right: 0;
}
#topusername {
  cursor: pointer;
  padding: 7px 5px;
  overflow: hidden;
}
.topdropdown {
  width: 100%;
  overflow: hidden;
  padding: 7px 5px;
  background-color: var(--sec-col);
  cursor: pointer;
  padding: 10px 12px;
}
.topdropdown:hover {
  background-color: var(--main-col);
  color: white;
}
#dropdown {
  display: none;
  transition: all 10s ease 0s;
}
#dropdown a {
  margin-right: auto;
}
.top_nav {
  position: relative;
  height: 30px;
  width: 100%;
}
.top_nav ul {
  list-style: none;
  padding: 0px;
}
.top_nav li {
  float: left;
  margin-left: 0px;
  margin-top: -7px;
}
.top_nav a {
  text-decoration: none;
  color: var(--light-txt);
  margin-right: 10px;
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.logo {
  color: var(--main-col);
}
.logo img {
  width: 100%;
}
.btn_section {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}

nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
}

.navbar {
  background-color: var(--main-col);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 2000;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: block;
}
.navbar li {
  float: left;
}
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar li a:hover {
  background-color: var(--main-hover);
}
#navbar {
  display: block;
}
#top_login_btn {
  display: none;
}

#menu_login_btn {
  float: right;
}
#menu_login_btn a {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ffffff;
  color: #1dbf73;
}

#open_menu {
  color: #ffff;
  display: block;
  color: white;
  padding: 14px 16px;
  display: none;
}

#close_menu {
  color: #ffff;
  display: block;
  color: white;
  padding: 14px 16px;
  display: none;
}

/* .mobile_login_btn {
  display: none;
} */
.mobile_login_btn a {
  display: block;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  margin-left: auto !important;
  width: 90px;
  background-color: #ffffff;
  color: #1dbf73;
}

.top-tag {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-tag-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

  color: #1dbf73;
}
.top-image {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box {
  box-shadow: 0px 8px 15px rgba(133, 96, 96, 0.3);

  background-color: #ffff;
  letter-spacing: 2.5px;
  display: flex;
  justify-content: space-between;
}
#search-box {
  border: none;
  outline: none;
  margin: 15px;
  font-size: 1.1rem;
}
#select-city {
  outline: none;
  border: none;
}
.search_btn {
  border: none;
  outline: none;
  margin-right: -5px;
  cursor: pointer;
  color: #ffff;
}
.search_btn_mobile {
  color: white;
  margin: auto 30px;
  display: none;
}
#mobileNav-logo {
  display: none;
}
#mobileNav-logo input {
  margin: 10px;
  font-size: 0.8rem;
}

.home_categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  padding: 30px 0px;
}
.home_categories h2 {
  width: 100%;
}
.category {
  margin: 20px auto;
  padding: 1px;
  padding-top: 20px;
  display: flex;
  cursor: pointer;
  flex-wrap: wrap;
  transition: all 0.4s ease 0s;
}
.category h3 {
  width: 100%;
}
.category i {
  font-size: 4.5rem;
  text-align: center;
  width: 100%;
}

.category:hover {
  background-color: var(--main-col);
  color: white;
}

footer {
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  padding: 10px;
}
footer h3 {
  width: 100%;
  height: 30px;
  text-align: center;
}

footer ul {
  text-align: center;
  width: 100%;
  list-style: none;
}
footer a {
  color: white;
  text-decoration: none;
  width: 100%;
  text-align: center;
}
footer a:hover {
  color: var(--main-col);
}
footer iframe {
  margin: auto;
}

.copyright {
  background-color: var(--main-col);
  color: white;
  padding: 10px;
  text-align: center;
}

/* Singup Page */
.signup-form {
  width: 100%;
}

.s-btn {
  width: 100%;
  margin: 10px auto;
}
.signup-inner-box {
  padding: 0px 30px;
  margin: auto;
}
.signup-box {
  margin: 20px auto;
  padding: 0px 30px;
  background-color: var(--sec-col);
  justify-content: center;
}
.fname,
.lname {
  border: 1px solid rgba(0, 0, 0, 0.37);
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 21px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  width: 48%;
}

.fname {
  margin-right: auto;
}
.lname {
  margin-left: auto;
}
.google-btn {
  background-color: rgba(255, 0, 0, 0.788);
}
.facebook-btn {
  background-color: #1877f2;
}
.google-btn:hover {
  background-color: white;
  color: rgba(255, 0, 0, 0.788);
  border: 1px solid rgba(255, 0, 0, 0.788);
}
.facebook-btn:hover {
  background-color: white;
  color: #1877f2;
  border: 1px solid #1877f2;
}
.singup-options {
  margin: auto;
}
#signup-h1 {
  width: 100%;
  text-align: center;
}
.error {
  color: red;
}

/* post card start */
.postsBoxes {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  position: relative;
}
.service-card {
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0px auto;
}
.service-card-thumbnail {
  position: relative;
  overflow: hidden;
}

.service-thumb {
  width: 100%;
  aspect-ratio: 5/3;
  object-fit: cover;
  transition: transform 0.2s;
}
.zoom-thumbnail {
  transform: scale(1.07);
}
.service-card-body {
  padding: 20px;
  min-height: 150px;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5px;
}
.card-category-tag {
  color: #fff;
  letter-spacing: 0.5px;
  font-size: 13px;
  background-color: var(--main-col);
  border-radius: 40px;
  text-transform: uppercase;
  padding: 3px 8px;
}
.fee-tag {
  margin-left: auto;
  color: #fff;
  letter-spacing: 0.5px;
  font-size: 18px;
  color: var(--main-col);
  text-transform: uppercase;
  width: fit-content;
}
.service-card-body h2 {
  margin-top: 13px;
  margin-bottom: 2px;
}
.visiting-fee p {
  margin: 0px;
  font-size: 15px;
}
.visiting-fee h4 {
  margin: 2px;
  margin-left: auto;
  margin-right: auto;
  color: var(--main-col);
}

.service-card-user {
  display: flex;
  margin-top: 10px;
  margin-bottom: 0px;
}
.service-card-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #888785;
}
.service-card-hover {
  background-color: rgba(0, 0, 0, 0.426);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: none;
  cursor: pointer;
  height: 100%;
  z-index: 2;
  transition: transform 0.2s;
}

.service-card-hover[style*="display: block"] {
  display: flex !important;
}
.service-card-hover button {
  padding: 10px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid var(--main-col);
  cursor: pointer;
}
/* post card ends */

/* Profile Page */
.profile-card-background {
  height: 320px;
  background-color: var(--sec-col);
  position: absolute;
  z-index: -1;
  margin-top: -100px;
  background-image: url();
}
.profile-card {
  align-items: start;
  margin-top: 100px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 15px;
  position: relative;
  z-index: 2;
  background-color: white;
}
.profile-photo {
  justify-content: center;
  margin-top: -80px;
}
.profile-photo img {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  width: 160px;
  height: 160px;
}
.profile-name {
  justify-content: center;
}
.profile-name h1 {
  letter-spacing: 1.5px;
  word-spacing: 5px;
}
.profile-btns {
  justify-content: center;
}
.profile-card-body {
  margin: auto;
}
.profile-address {
  justify-content: space-between;
}
.contact-number {
  margin: 5px;
}
.ProfileIcon {
  color: var(--main-col);
}
.left-box {
  display: flex;
}
.services {
  margin-top: 30px;
  justify-content: space-between;
}
.post-delete{
  position: absolute;
  z-index:9999;
  right: 13px;
  top: 13px;
}
/*  PROFILE: Page End */

/* profile settings page starts */

.profile-settings-map {
  height: 350px;
}
.map-wrapper {
  position: relative;
}
.mapEditBtns{

padding: 4px 7px;
cursor: pointer;
border: 1px solid rgba(0, 0, 0, 0.137);

}
#edit-location-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  z-index: 999;
}
#canel-location-btn {
  position: absolute;
  top: 50px;
  right: 70px;
  z-index: 999;
  display:none;
  background-color:rgb(255, 25, 25);
  color:white;
  margin-right: 8px;
}
#current-location-btn{
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 999;
  display:none;
  background-color: white;
  font-size: 15px;
  color:black
}
#save-location-btn {
  color:white;
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 999;
  display:none;
  background-color:var(--main-col)
}

#map-layer {
  height: 100%;
  width: 100%;
  z-index: 99;
  position: absolute;

}
/* profile settings page ends */

/* 
service page starts */
#add-post input[type="file"] {
  display: none;
}
#thumbnail-tab img {
  margin: auto;
  max-height: 260px;
  max-width: 100%;
}
.post-button {
  width: 100%;
  border-radius: 0px;
}

.tab-heading {
  text-align: center;
  letter-spacing: 2.5px;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffff;
  background-color: var(--main-col);
  border: none;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
}
.tab-data {
  border: 1px solid rgba(0, 0, 0, 0.233);
  border-top: 0px;
  position: relative;
}
#remove-thumbnail {
  background: rgba(0, 0, 0, 0.178);
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
}



/* Modal box :start */

.modal {
  display: none;
  position: fixed;
  z-index: 999999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

#close-popup {
  color: #aaaaaa;
  margin-left: auto;
  font-size: 28px;
  margin-top: -12px;
  font-weight: bold;
}

#close-popup:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* modal box end */

/* Responsive media Quries */
@media only screen and (max-width: 1024px) {
  .navbar li a {
    padding: 14px 10px;
    font-size: 1rem;
  }
  #menu_login_btn a {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
    color: #1dbf73;
  }
}

@media only screen and (max-width: 880px) {
  .navbar li a {
    padding: 14px 8px;
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 768px) {
  #navbar {
    display: none;
  }
  .navbar li {
    float: none;
  }
  #open_menu {
    display: block;
  }

  #menu_login_btn {
    display: none;
  }
  .mobile_login_btn {
    display: block;
  }
  #top_login_btn {
    display: block;
  }
  .navbar li a {
    padding: 14px 10px;
    font-size: 1rem;
  }
  .logo h1 {
    margin: auto;
    margin-bottom: 20px;
  }

  #menu_search_btn {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 480px) {
  .category {
    width: 40%;
  }
}
/* Category Page */
.posts-filter-wrapper {
  background-color: var(--sec-col);
  padding: 12px 0px;
  margin-top: 20px;
  margin-bottom: -10px;
}
.posts-filter {
  justify-content: space-around;
  align-items: center;
}

.filter-item {
  justify-content: center;
  margin: 6px 0px;
}
.filter-item select {
  width: 100%;
}
.filterSelect{
  padding: 8px 12px;
  border: 1px solid rgba(0, 0, 0, 0.287);
}

.postsFound {
  margin: auto;
  margin-bottom: 20px;
}
#applyFilters {
  padding: 6px 0px;
  cursor: pointer;
  color: white;
  background: var(--main-col);
  border: none;
}
.postsFound span {
  text-align: center;
}


/* Post page Start */


.service-details{
margin-top: 40px;
align-items: flex-start;

}
.postThumbnail img{
  width: 100%;
  aspect-ratio: 5/3;
  object-fit: cover;
  transition: transform 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.281);
}
.postThumbnail{
 padding: 20px;
 padding-top: 0px;
}
/* post page Ends */