:root {
  --main-col: #1dbf73;
  --main-hover: #0aa35c;
  --sec-col: #f4f4f4;
  --light-txt: rgba(0, 0, 0, 0.61);
}

.container {
  max-width: 1440px;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
}
.container-fluid {
  width: 100%;
}

/* colors */
.main-col {
  background-color: var(--main-col);
  color: #ffff;
}
.sec-col {
  background-color: var(--sec-col);
  color: var(--light-txt);
}
.light-txt {
  color: var(--light-txt);
}

/* Button style */

.button-primary {
  height: 45px;
  padding-left: 30px;
  padding-right: 30px;
  letter-spacing: 2.5px;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--main-col);
  background-color: #ffff;
  outline: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: 1px solid var(--main-col);
  transition: all 0.4s ease 0s;
}

.button-primary:hover {
  background-color: rgb(241, 241, 241);
  box-shadow: 0px 5px 10px rgba(46, 229, 157, 0.2);
}
.button-sec {
  height: 45px;
  padding-left: 30px;
  padding-right: 30px;
  letter-spacing: 2.5px;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffff;
  background-color: var(--main-col);
  outline: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px #1dbf7344;
  cursor: pointer;
  border: none;
  transition: all 0.4s ease 0s;
}
.button-sec:hover {
  background-color: #ffff;
  color: var(--main-col);
  border: 1px solid var(--main-col);
  box-shadow: 0px 5px 10px rgba(46, 229, 157, 0.2);
}
.btn-icon {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}
.edit-btn {
  color: var(--main-col);
}
.edit-btn:hover {
  color: white;
  -webkit-text-stroke: 1px var(--main-col);
}

.delete-btn {
  color: rgb(241, 30, 30);
}
.delete-btn:hover {
  -webkit-text-stroke: 1px rgb(212, 30, 30);
  color: white;
}
.add-btn {
  color: var(--main-col);
}
.add-btn:hover {
  color: var(--main-col);
}

.input-field {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.37);
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 20px;
  margin: 10px auto;
  outline: none;
  font-size: 1rem;
}

.forms-box {
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
  background-color: var(--sec-col);
  justify-content: center;
}

/* Pop up confirmation box Start*/
.confirm {
  position: fixed;
  z-index: 999999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.confirm .dialog {
  width: 400px;
  margin: 100px auto 0;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}
.confirm-title {
  padding: 10px 8px;
  background-color: var(--main-col);
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
.confirm-title h3 {
  font-size: 1.6rem;
  width: 100%;
  text-align: center;
  color: var(--sec-col);
  display: inline-block;
  margin: 0px;
}
#close-confirm {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: bold;
  color: rgba(36, 35, 35, 0.493);
}
#close-confirm:hover {
  color: black;
}
.confirm-message {
  padding: 20px 15px;
}
.confirm-message p {
  font-size: 1rem;
  color: var(--light-txt);
  margin: 0;
}
.confirm-options {
  padding: 8px 10px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.295);
}
.cancel-btn {
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
}
.confirm-btn {
  border-radius: 5px;
  padding: 10px 15px;
}

/* Pop up confirmation box Ends*/

/*Validation Message Boxes */
.message-box {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 9999999;
}
.error-message {
  background-color: rgb(255, 52, 52);
  display: none;
  color: white;
}
.success-message {
  color: white;
  background-color: #1cce7b;
  display: none;
}
.warning-message {
  background-color: #ff9f51;
  display: none;
  color: white;
}

/*Responsive Media Quries */

/*To make width 100% after Break Point*/
[class*="col-"] {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/*     To keep the columns numbers constant on all screen sizes */

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (min-width: 480px) {
  /*Size of columns For screen sizes greater than 480px. It will become 100% for screen size less than 480px*/

  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;
  }
  .col-xs-12 {
    width: 100%;
  }

  /*margin of container*/
  .container {
    max-width: 95%;
  }
}

@media only screen and (min-width: 600px) {
  /*Size of columns For screen sizes greater than 600px. It will become 100% for screen size less than 600px*/
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }

  /*margin of container*/
  .container {
    max-width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  /*Size of columns For screen sizes greater than 768px. It will become 100% for screen size less than 768px*/

  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  /*Size of columns For screen sizes greater than 1024px. It will become 100% for screen size less than 1024px*/

  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  /*Size of columns For screen sizes greater than 1024px. It will become 100% for screen size less than 1024px*/

  .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }

  /*margin of container*/
  .container {
    max-width: 1080px;
  }
}

[class*="col-"] {
  display: flex;
  flex-wrap: wrap;
}

.mousePointer:hover {
  cursor: pointer;
}
.pagination div {
  margin: auto;
  margin-top: 10px;
}
.pagination span {
  margin: 5px 10px;
  border: 1px solid var(--main-col);
  border-radius: 5px;
  padding: 5px 8px;
}

.pagination span a {
  text-decoration: none;
  color: var(--main-col);
}
.pagination-active {
  margin: 5px 10px;
  background-color: var(--main-col);
  padding: 5px 8px;
  color: white;
}
.pagination-active a {
  text-decoration: none;
  color: white !important;
}
