:root {
  --main-col: #1dbf73;
  --main-hover: #0aa35c;
  --sec-col: #f4f4f4;
  --light-txt: rgba(0, 0, 0, 0.61);
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--main-col);
  
  cursor: pointer;
}
a:hover {
  color: var(--main-hover);
  
}
body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  color: var(--light-txt);
}

.option {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.menu {
  align-items: space-between;
  height: 100vh;
  text-align: center;
  position: fixed;
  z-index: 99999;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);

}
.menubtn {
  text-decoration: none;
  color: var(--sec-col);
  width: 100%;
  padding: 10px 0px;
  transition: all 0.3s ease 0s;
  letter-spacing: 1.5px;
  text-align: left;
  padding-left: 40px;
}
.logout-btn {
  width: 100%;
  border-radius: 0px;
  background-color: rgb(236, 236, 236);
}
.logout-btn:hover {
  background-color: var(--main-hover);
}
.menubtn:hover,
.activetab {
  background-color: white;
  color: var(--main-col);
  border-left: 15px solid var(--main-col);
}

.top-result {
  align-items: center;
}
.box-bg {
  background-color: #ffffff;
  margin: auto;
  margin-top: 25px;
  border:1px solid rgba(0, 0, 0, 0.315);
}
.top-result a {
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: rgb(36, 36, 36);
  padding: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 600;
}

.Team-Option {
  height: 70vh;
}
.mid-boxes {
  justify-content: space-around;
  align-items: center;
}
.box-top-h {
  width: 100%;
  text-align: center;
}


.dropdown-wrapper{
  width: fit-content;
max-width: 300px;
top:2px;
z-index: 9999;
right: 0;
}
#topusername{
  cursor: pointer;
  padding: 7px 5px;
  overflow: hidden;
}
.topdropdown{
  width: 100%;
  overflow: hidden;
  padding: 7px 5px;
  background-color: var(--sec-col);
  cursor: pointer;
  padding: 10px 12px;
 
}
.topdropdown:hover{
  background-color: var(--main-col);
  color: white;
}
#dropdown{
  display: none;
  transition: all 10s ease 0s;
  position: absolute;

}
#dropdown a{
  margin-right: auto;
  text-decoration: none;
  color: var(--light-txt);

}
.adminheader{
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.searchBox {
  justify-content: space-around;
  align-items: center;
  }
.searchBox input{
width: 80%;

}
.searchBox button{
  padding:10px 12px;
  cursor:pointer;
  
  }
.searchBox input :focus{
  outline: none;
  
  }
/* Modal box :start */
.modal {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 60%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.close-popup {
  color: #aaaaaa;
  float: right;
  margin-top: -12px;
  font-size: 28px;
  font-weight: bold;
}

.close-popup:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#open-admin-menu{
  color: var(--main-col);
  display:none;
  margin-right: 10px;
}
#close-admin-menu{
  display:none;
}
/* modal box end */

@media only screen and (max-width: 768px) {
  .modal-content {
    width: 80%;
  }
  .menu{
    display:none;
    width:60%;
    
  }
  #open-admin-menu{
    display:flex;
  }
}
.box-top-h {
  width: 100%;
  text-align: center;
}

.form {
  padding-top: 30px;
  padding-bottom: 30px;
}
.form input {
  margin-top: 10px;
  padding: 5px;
}

.form select {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  width: 15%;
}

#button {
  border-radius: 0px;
  width: 15%;
}

.fname,
.lname {
  border: 1px solid rgba(0, 0, 0, 0.37);
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 21px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  width: 48%;
}

.fname {
  margin-right: auto;
}
.lname {
  margin-left: auto;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
 
}

table caption {
  font-size: 1.5em;
  padding: 1rem 0px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  background-color: var(--main-col);
  color: var(--sec-col);
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 1rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  /* tr:nth-of-type(odd) {
    background-color: yellowgreen;
  } */

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
.darkrow {
  background-color: #f1f0f0;
}
.lightrow {
  background-color: #f8f8f8;
}

@media only screen and (max-width: 600px) {
  .modal-content {
    width: 90%;
  }
}

/* widget page Starts */
.Widget{
  margin-top: 20px;
margin-bottom: 20px;
}
#selectWidget{
margin: auto;

text-align: center;
padding: 15px;
}
#selectWidget option{
  padding: 15px;
font-size: 1rem;
}

#widget-WorkArea{
  border: 1px solid rgba(0, 0, 0, 0.247);
margin: auto;
padding: 30px;
}

/* Upload Logo widget */
.uploadnewlogo {
  border: 1px solid rgba(0, 0, 0, 0.192) ;
  height: 250px;
  padding: 20px;
  justify-content: center;
  
}
.currentlogo{
border: none;
}
.currentlogo img{
  max-height: 140px;
max-width: 250px;
}
.uploadnew {
border-left: none;

}
.previewnew {
  border-right: none;

}
.previewnew img{
max-height: 140px;
max-width: 250px;

}

/* Main Navebar */
.navbarCategories{
  border: 1px solid var(--main-col);
  color: var(--main-col);
  padding: 10px 15px;
  border-radius: 50px;
  margin:3px 5px;
}
.navbarCategories:hover{
  color: white;
  background-color:var(--main-col);
 
}
.navbarCategories i{
font-size: 1.1em;
margin-left: 7px;
cursor: pointer;
}


/* Widget Page Ends */

/* Team Members Navigation bar */
.membersNav {
  background-color: var(--main-col);
  padding: 20px;
}